<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fastchargepercent">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />

    <application android:label="FastChargePercent" android:allowBackup="false">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="FastChargePercent — show integer or decimal battery percent based on fast charge" />
    </application>

</manifest>
